@use "sass:list";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* ##### Global styles and variables ##### */

/* *** Font settings *** */

// Font family
$font-family: "Montserrat", sans-serif;

// Font sizes
$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-base: 18px;
$font-size-large: 24px;
$font-size-extra: 36px;

// Font weight settings
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* *** Color palette *** */
$color-primary: #ff6060;
$color-secondary: #000000;
$color-light: #ffffff;

/* *** Border radius settings *** */
$border-radius-small: 10px;
$border-radius-medium: 20px;
$border-radius-large: 25px;
$border-radius-full: 50%;

/* *** Image settings *** */
$image-max-height-desktop: 415px;
$image-max-height-mobile: 255px;
$image-full-width: 100%;
$image-ratio-large: list.slash(3, 1);
$image-ratio-small: list.slash(4, 3);

/* *** Site width settings *** */
$site-max-width-desktop: 1240px;
$site-max-width-mobile: 100%;

// Linear gradient mixin for overlay effects from white to black
@mixin linear-gradient-overlay($start-color, $end-color) {
    background: linear-gradient(
        to bottom,
        rgba($start-color, 0) 0%,
        rgba($end-color, 1) 100%
    );
}

// Border radius mixin for top and bottom corners
@mixin border-radius-top-bottom($top, $bottom) {
  border-radius: $top $top $bottom $bottom;
}
